#mainpage-body {
    background: linear-gradient(to right, #ea1adb, #641bd8eb);
    background: -ms-linear-gradient(right, #ea1adb, #641bd8eb); /* IE 11 */
    background: -webkit-linear-gradient(right, #ea1adb, #641bd8eb); /* For Safari 5.1 to 6.0 */
}

input, textarea {
    outline-style: none;
    background-color: #fff;
    border: none;
    height: 40px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    width: 100%;
}

input[type=text] {
    color: #bf1dde;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bf1dde75;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6d8d8;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #f7e284;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #482f2f;
}

table {
    font-size: 12px;
    width: 360px;
    padding: 0;
}

#table-main {
    margin-top: 15px;
}

.tr_border {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

#table-main th {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .0001);
    text-indent: 10px;
    width: 150px;
    height: 30px;
}

#table-main td {
    width: 210px;
    height: 30px;
}

#title_image {
    width: 360px;
}

#title_words {
    color: white;
    width: 360px;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 15px;
}

.title {
    width: 360px;
    top: 120px;
    /* center align */
    left: 50%;
    position: absolute;
    margin-left: -180px;
    /* margin-left = - width / 2 */
}

#user_submit {
    color: white;
    background-color: rgba(255, 255, 255, .15);
}
