<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <script>
            var load = null;
            var del = null;

            var ADMIN_PASSWORD = 'password';

            $(document).ready(function() {
                $('#admin_submit').click(function(evt) {
                    if ($('#admin_pw').val() == ADMIN_PASSWORD){
                        load();
                    } else{
                        alert("WRONG PASSWORD!");
                    }
                });

                //작성된 메모 목록을 로드합니다.
                var load = function() {
                    $.get('/load', function(data) {
                        $("#user_board").empty();

                        user_index = $(data).length;

                        $("#user_board").append("<tr class='board_title'><th>ID</th><th>NAME</th><th>EMAIL</th><th>POSITION</th><th>INTEREST</th><th>INFO</th></tr>")

                        $($(data).get().reverse()).each(function(i) {
                            var id = this._id;

                            $("#user_board").append("<tr class='board_item " + id + "'></tr>");

                            $("#user_board .board_item:last").append("<td rowspan='2' class='user_index board_sep'>" + user_index + "</td>");
                            $("#user_board .board_item:last").append("<td class='user_name'>" + this.user_name + "</td>");
                            $("#user_board .board_item:last").append("<td class='user_email'>" + this.user_email + "</td>");
                            $("#user_board .board_item:last").append("<td class='user_position'>" + this.user_position + "</td>");
                            $("#user_board .board_item:last").append("<td class='user_interest'>" + this.user_interest + "</td>");
                            $("#user_board .board_item:last").append("<td class='user_del'>DELETE</td>");

                            $("#user_board").append("<tr class='contents board_sep'><td colspan='4'>" + this.user_description + "</td><td class='user_time'>" + this.date + "</td></tr>");

                            //삭제 버튼을 눌렀을 때에 대한 이벤트 콜백함수를 지정합니다.
                            $("#user_board .board_item:last .user_del").click(function(evt) {
                                del(id);
                            });

                            user_index = user_index - 1;
                        });

                    });
                };

                //메모 삭제 요청을 처리하는 부분입니다.
                var del = function(id) {
                    var postdata = {
                        '_id': id
                    };

                    $.post('/del', postdata, function() {
                        load();
                    });
                };
            });
        </script>
</head>

<body>
    <div class="user_board_key">
        <input id="admin_pw" type="text" value="">
        <input id="admin_submit" type="submit" value="ENTER">
    </div>
    <table id='user_board'>
    </table>
    <% include ../partials/body_script %>
</body>

</html>
