<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<script>
    $(document).ready(function() {
        $("#modal-open").click();

        var write = function(contents) {
            var postdata = {
                'user_name': $("#user_name").val(),
                'user_position': $("#user_position").val(),
                'user_interest': $("#user_interest").val(),
                'user_email': $("#user_email").val(),
                'user_description': $("#user_description").val()
            };

            $.post('/invest', postdata, function() {
            });
        };

        $.get('/load', function(data) {
            $("#user_submit").click(function(evt) {
                write();
                alert("입력 완료! " + $("#user_name").val() + " 님 감사합니다");
                window.location.replace("/board");
            });
        });
    });
</script>

<body id="mainpage-body">
    <header>
        <div class="header-content">
            <div id='main' class="header-content-inner title">
                <img id="title_image" src="images/VIRUS_logo_white.png" alt="" />
                <p id="title_words">LIVE NETWORKING PROGRAM</p>
                <hr style="margin: 0" />
                <table id="table-main">
                    <tr class="tr_border">
                        <th>이름(Name)</th>
                        <td><input id='user_name' type='text' placeholder='Hyunseok Moon' /></td>
                    </tr>
                    <tr class="tr_border">
                        <th>신분(Position)</th>
                        <td><input id='user_position' type='text' placeholder='Startup' /></td>
                    </tr>
                    <tr class="tr_border">
                        <th>관심 분야(Interest)</th>
                        <td><input id='user_interest' type='text' placeholder='Machine Learning' /></td>
                    </tr>
                    <tr class="tr_border">
                        <th>이메일(E-mail)</th>
                        <td><input id='user_email' type='text' placeholder='hyunseok.moon@vi-rus.network' /></td>
                    </tr>
                    <tr>
                        <th>한 줄 소개(Description)</th>
                        <td><input id='user_description' type='text' placeholder='Core director of VIRUS-NETWORK' /></td>
                    </tr>
                    <tr style="height: 15px">
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id='user_submit' type='button' value='제출(Submit)' />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>

    <!-- Button trigger modal -->
    <button id="modal-open" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="visibility: hidden">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">네트워킹 보드</h4>
                </div>
                <div class="modal-body">
                    <p>설명</p>
                    <p>본 프로그램은 바이러스네트워크가 제작하였습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/body_script %>
</body>

</html>
